%h1 Welcome to the Project Manager application
%h4 Builded with:
%ul
  %li Ruby (2.5.3)
  %li Rails (5.2.2)
  %li MySQL
  %li Git
%h4 Realized features:
%ul
  %li Projects CRUD
  %li Tasks CRUD
  %li Devise authentication
  %li User interface (bootstrap)
%h4 To do:
%ul
  %li Administration panel
  %li Assign task to user(s)
%h3= link_to 'CREATE NEW PROJECT', projects_url
