<h1>Welcome to the Project Manager application</h1></br>
<h4>Builded with:</h4>
<ul>
	<li>Ruby (2.5.3)</li>
	<li>Rails (5.2.2)</li>
	<li>MySQL</li>
	<li>Git</li>
</ul>
<h4>Realized features:</h4>
<ul>
	<li>Projects CRUD</li>
	<li>Tasks CRUD</li>
	<li>Devise authentication</li>
	<li>User interface (bootstrap)</li>
</ul>
<h4>To do:</h4>
<ul>
	<li>Administration panel</li>
	<li>Assign task to user(s)</li>
</ul>

<h3><%= link_to 'CREATE NEW PROJECT', projects_url %></h3>